@model BugTracker.Models.Issue

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Issue</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Complete">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="IssueTitle" class="control-label"></label>
                <input asp-for="IssueTitle" class="form-control" />
                <span asp-validation-for="IssueTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IssueDescription" class="control-label"></label>
                <input asp-for="IssueDescription" class="form-control" />
                <span asp-validation-for="IssueDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IssueType" class="control-label"></label>
                <select asp-for="IssueType" class="form-control" asp-items="ViewBag.IssueType"></select>
                <span asp-validation-for="IssueType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IssuePriority" class="control-label"></label>
                <select asp-for="IssuePriority" class="form-control" asp-items="ViewBag.IssuePriority"></select>
                <span asp-validation-for="IssuePriority" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IssueCreatedBy" class="control-label"></label>
                <select asp-for="IssueCreatedBy" class="form-control" asp-items="ViewBag.IssueCreatedBy"></select>
                <span asp-validation-for="IssueCreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IssueCreatedOn" class="control-label"></label>
                <input asp-for="IssueCreatedOn" class="form-control" />
                <span asp-validation-for="IssueCreatedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IssueClosedBy" class="control-label"></label>
                <select asp-for="IssueClosedBy" class="form-control" asp-items="ViewBag.IssueClosedBy"></select>
                <span asp-validation-for="IssueClosedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IssueClosedOn" class="control-label"></label>
                <input asp-for="IssueClosedOn" class="form-control" readonly value=@DateTime.Now/>
                <span asp-validation-for="IssueClosedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IssueResolutionSummary" class="control-label"></label>
                <input asp-for="IssueResolutionSummary" class="form-control" />
                <span asp-validation-for="IssueResolutionSummary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Project" class="control-label"></label>
                <select asp-for="Project" class="form-control" asp-items="ViewBag.Project"></select>
                <span asp-validation-for="Project" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
